*/mysql-data
*/post*
*/sonarqube*
*/data
*/init-data
jenkins/docker
*/jenkins
fresh-rss/config
jellyfin/config
jellyfin/cache
*/homarr/data
photoprism/database
photoprism/storage
nginx-proxy-manager/data
homepage/config
file-browser/filebrowser.db

kafka-kafka-manager/kafka
kafka-kafka-manager/zookeeper